.u-section-1 .u-sheet-1 {
  min-height: 1618px;
}

.u-section-1 .u-text-1 {
  font-family: BMJUA_ttf;
  font-weight: 500;
  margin: 79px auto 0 492px;
}

.u-section-1 .u-text-2 {
  font-family: Pretendard-Medium;
  letter-spacing: 0px;
  line-height: 1.2;
  font-style: normal;
  font-size: 1.125rem;
  margin: 20px auto 0 462px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  margin: 62px auto 0 107px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  margin: -55px auto 0 318px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  margin: -55px auto 0 578px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  margin: -55px 119px 0 auto;
}

.u-section-1 .u-list-1 {
  margin: 54px auto 55px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 1205px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("KakaoTalk_20220925_031244987.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: BMJUA_ttf;
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: Pretendard-Medium;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("KakaoTalk_20220925_031244987_03.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.75rem;
  font-family: BMJUA_ttf;
  font-weight: 400;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  font-family: Pretendard-Medium;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-family: BMJUA_ttf;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("KakaoTalk_20220925_031244987_04.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.75rem;
  font-family: BMJUA_ttf;
  font-weight: 400;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-11 {
  font-family: Pretendard-Medium;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-family: BMJUA_ttf;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("KakaoTalk_20220925_031244987_02.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.75rem;
  font-family: BMJUA_ttf;
  font-weight: 400;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-14 {
  font-family: Pretendard-Medium;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-family: BMJUA_ttf;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("KakaoTalk_20220925_031244987_05.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1.75rem;
  font-family: BMJUA_ttf;
  font-weight: 400;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-17 {
  font-family: Pretendard-Medium;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-btn-9 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-family: BMJUA_ttf;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("KakaoTalk_20220925_031244987_06.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1.75rem;
  font-family: BMJUA_ttf;
  font-weight: 400;
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-20 {
  font-family: Pretendard-Medium;
  margin: 23px 1px 0 0;
}

.u-section-1 .u-btn-10 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-family: BMJUA_ttf;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 406px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 381px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 284px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 501px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: 718px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 994px;
  }

  .u-section-1 .u-text-5 {
    font-style: normal;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-style: normal;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    font-style: normal;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    font-style: normal;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    font-style: normal;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    font-style: normal;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 311px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 292px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 281px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 498px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1713px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 219px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 101px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 318px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 138px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 118px;
  }
}@font-face {
  font-family: 'BMJUA_ttf';
  font-style: normal;
  font-weight: 400;
  src: url(BMJUA_ttf.ttf);
}@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(Pretendard-Medium.otf);
}