.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-image-1 {
  height: 608px;
  margin-top: 21px;
  margin-bottom: 21px;
}.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-image-1 {
  height: 608px;
  margin-top: 21px;
  margin-bottom: 21px;
}@font-face {
  font-family: 'BMJUA_ttf';
  font-style: normal;
  font-weight: 400;
  src: url(BMJUA_ttf.ttf);
}@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(Pretendard-Medium.otf);
}