.u-section-1 .u-sheet-1 {
  min-height: 715px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 3.4375rem;
  font-family: BMJUA_ttf;
  font-weight: 500;
  width: 737px;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  height: 279px;
  background-image: none;
  width: 510px;
  margin: 54px auto 0;
}

.u-section-1 .u-label-1 {
  font-family: Pretendard-Medium-9;
  letter-spacing: 0px;
  font-weight: 500;
}

.u-section-1 .u-input-1 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-label-2 {
  font-family: Pretendard-Medium-9;
  letter-spacing: 0px;
  font-weight: 500;
}

.u-section-1 .u-input-2 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 100%;
  letter-spacing: 2px;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-style: solid;
  padding: 14px 30px 15px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-family: BMJUA_ttf;
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 2px;
  align-self: center;
  margin: 42px auto 0 649px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5625rem;
  font-weight: 400;
  font-family: BMJUA_ttf;
  letter-spacing: 2px;
  margin: -51px 502px 61px 361px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 295px;
  }

  .u-section-1 .u-text-2 {
    width: 737px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 83px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -3px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: -3px;
    margin-bottom: 60px;
    margin-left: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}@font-face {
  font-family: 'BMJUA_ttf';
  font-style: normal;
  font-weight: 400;
  src: url(BMJUA_ttf.ttf);
}@font-face {
  font-family: 'Pretendard-Medium-9';
  font-style: normal;
  font-weight: 400;
  src: url(Pretendard-Medium-9.otf);
}@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(Pretendard-Medium.otf);
}