.u-section-1 .u-sheet-1 {
  min-height: 488px;
}

.u-section-1 .u-text-1 {
  font-family: BMJUA_ttf;
  font-size: 2.8125rem;
  font-weight: 500;
  margin: 35px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 18px;
  margin-bottom: 35px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-family: BMJUA_ttf;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-2 {
  font-family: BMJUA_ttf;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-3 {
  font-family: BMJUA_ttf;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-4 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-family: BMJUA_ttf;
  font-weight: 500;
}

.u-section-1 .u-table-cell-5 {
  font-family: BMJUA_ttf;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: BMJUA_ttf;
}

.u-section-1 .u-table-cell-7 {
  font-family: BMJUA_ttf;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 500;
}

.u-section-1 .u-table-cell-8 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-9 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-10 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-11 {
  font-family: Pretendard-Medium-9;
}

.u-section-1 .u-table-cell-12 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-13 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
}

.u-section-1 .u-table-cell-15 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-16 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-17 {
  font-family: Pretendard-Medium-9;
}

.u-section-1 .u-table-cell-18 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-19 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-20 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
}

.u-section-1 .u-table-cell-22 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-23 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-24 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-25 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-26 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-27 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-29 {
  font-family: Pretendard-Medium-9;
}

.u-section-1 .u-table-cell-30 {
  font-family: Pretendard-Medium-9;
}

.u-section-1 .u-table-cell-31 {
  font-family: Pretendard-Medium-9;
}

.u-section-1 .u-table-cell-32 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-33 {
  font-family: Pretendard-Medium;
}

.u-section-1 .u-table-cell-34 {
  font-family: Pretendard-Medium-9;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-family: BMJUA_ttf;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}@font-face {
  font-family: 'BMJUA_ttf';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BMJUA_ttf.ttf);
}@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Pretendard-Medium.otf);
}@font-face {
  font-family: 'Pretendard-Medium-9';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Pretendard-Medium-9.otf);
}