
{% extends "index.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/introduction.css') }}" media="screen">
{% endblock %}
{% block main %}

  <section class="u-clearfix u-section-1" id="sec-13d9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <img class="u-expanded-width u-image u-image-1" src="{{ url_for('static', filename='img/KakaoTalk_20220925_033914507_01.jpg') }}" data-image-width="1440" data-image-height="732">
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="carousel_12c0">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <img class="u-expanded-width u-image u-image-1" src="{{ url_for('static', filename='img/KakaoTalk_20220925_033914507.jpg') }}" data-image-width="1440" data-image-height="732">
    </div>
  </section>
{% endblock %}
   