
{% extends "index.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/introduction.css') }}" media="screen">
{% endblock %}
{% block main %}
<section class="u-clearfix u-section-1" id="sec-13d9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-absolute-hcenter u-expanded-height u-image u-image-contain u-image-default u-image-1" src="{{ url_for('static', filename='img/KakaoTalk_20220924_234853064_01.jpg') }}" alt="" data-image-width="4500" data-image-height="2751">
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-5d2f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-absolute-hcenter u-expanded-height u-image u-image-contain u-image-default u-image-1" src="{{ url_for('static', filename='img/KakaoTalk_20220924_234853064.jpg') }}" alt="" data-image-width="4500" data-image-height="2751">
    </div>
  </section>
{% endblock %}
   