{% extends "index.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation_default.css') }}" media="screen">
{% endblock %}
{% block main %}
<section class="u-align-center u-clearfix u-custom-color-1 u-section-1" id="carousel_7b81">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-custom-font u-text u-text-default u-text-1">상담 예약하기</h2>
    <div class="u-align-center u-container-style u-expanded-width-xs u-group u-radius-50 u-shape-round u-white u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h4 class="u-custom-font u-text u-text-default-lg u-text-default-xl u-text-2"> 맘잇맘 상담 신청을 환영합니다&nbsp;</h4>
        <h6 class="u-custom-font u-text u-text-default u-text-3">온라인 심리상담, 맘잇맘이 함께합니다.</h6>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form" source="email" name="form" style="padding: 0px;">
            <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-1">
              <label for="select-28e7" class="u-custom-font u-label u-label-1">상담사</label>
              <div class="u-form-select-wrapper">
                <select id="select-28e7" name="consultant" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  <option value="김상담">김상담</option>
                  <option value="민지원">민지원</option>
                  <option value="박마음">박마음</option>
                  <option value="유선생">유선생</option>
                  <option value="이지민">이지민</option>
                  <option value="홍길동">홍길동</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-2">
              <label for="select-1496" class="u-custom-font u-label u-label-2">상담 분야</label>
              <div class="u-form-select-wrapper">
                <select id="select-1496" name="topic" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  <option value="전문 심리 상담">전문 심리 상담</option>
                  <option value="일반 고민 상담">일반 고민 상담</option>
                  <option value="학업 지원 상담">학업 지원 상담</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-date u-form-group u-form-partition-factor-2 u-form-group-3">
              <label for="date-8f36" class="u-custom-font u-label u-label-3">날짜</label>
              <input type="date" placeholder="MM/DD/YYYY" id="date-8f36" name="date" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-6 u-white" required="">
            </div>
            <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-4">
              <label for="select-6c59" class="u-custom-font u-label u-label-4">시간</label>
              <div class="u-form-select-wrapper">
                <select id="select-6c59" name="select-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  <option value="10:00">10:00</option>
                  <option value="12:00">12:00</option>
                  <option value="14:00">14:00</option>
                  <option value="16:00">16:00</option>
                  <option value="18:00">18:00</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>
            <div class="u-form-group u-form-message">
              <label for="message-c6a3" class="u-custom-font u-label u-label-5">상담 내용</label>
              <textarea placeholder="예) 진로 및 학업 상담,  가족 / 대인관계 상담 등" rows="4" cols="50" id="message-c6a3" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-6 u-white" required=""></textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-active-white u-border-2 u-border-active-custom-color-1 u-border-custom-color-1 u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-custom-font u-radius-50 u-text-active-custom-color-1 u-text-white u-btn-1">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="43f82ff89f77cfc9650746a2086c1e32">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}